<p>
    <a href="{% url 'articles:index' %}">Articles</a>
    -
    {% if user.is_authenticated %}
      {{ user.username }}
      <a href="{% url 'users:logout' %}">Log out</a>
    {% else %}
      <a href="{% url 'users:register' %}">Register</a>
      <a href="{% url 'users:login' %}">Log in</a>
    {% endif %}
</p>

{% block content %}{% endblock content %}
