{% extends 'base.html' %}

{% block content %}

{% if form.errors %}

<p>Your username and password didn't match. Please try again.</p>

{% endif %}

<form method="post" action="{% url 'users:login' %}">
	{% csrf_token %}
	{{ form.as_p }}

	<button name="submit">Log in</a>
	<input type="hidden" name="next" value="{% url 'articles:index' %}" />
</form>

{% endblock content %}
