{% extends "pizza_blog_app/base.html" %}

{% block content %}

<p>Pizzas</p>

<ul>
    {% for pizza in pizzas %}
    <li><a href="{% url 'pizza_blog_app:pizza' pizza.id %}">{{ pizza.name }}</a></li>
    {% empty %}
    <li>No pizzas yet!</li>
    {% endfor %}
</ul>

{% endblock content %}
