{% extends "pizza_blog_app/base.html" %}

{% block content %}

<p>Pizza: {{ pizza.name }}</p>

<p>Toppings:</p>

<ul>
    {% for topping in toppings %}
    <li>{{ topping.name }}</li>
    {% empty %}
    <li>No toppings for this pizza yet!</li>
    {% endfor %}
</ul>

{% endblock content %}
