{% extends 'learning_logs/base.html' %}

{% block content %}

{% if form.errors %}

<p>Your username and password didn't match. Please try again.</p>

{% endif %}

<form method='post' action='{% url 'users:login' %}'>
	{% csrf_token %}
	{{ form.as_p }}

	<button name='submit'>Log in</button>
	<input type='hidden' name='next' value='{% url 'learning_logs:index' %}' />
</form>

{% endblock content %}
