{% extends 'base.html' %}

{% block content %}

<p>Articles</p>

<p><a href="{% url 'articles:new' %}">new</a>

<ul>
    {% for article in articles %}
        <li>
            <p>article: {{ article }}</p>
            <p>body: {{ article.body }}</p>
            <p>date: {{ article.date_added }}</p>
            <p><a href="{% url 'articles:edit' article.id %}">edit</a>
        </li>
    {% empty %}
        <li>No articles have been added yet.</li>
    {% endfor %}
</ul>

{% endblock content %}
